extends layout

block content
  h1 #{title}
  .col-lg-9
    .section-title
      h2 Recent News
    each article, i in articles  
      .post-entry-2.d-flex
        .thumbnail.order-md-2(style="background-image: url('images/img_h_4.jpg')")
          .contents.order-md-1.pl-0
             h2
              a(href='/articles/'+article._id)= article.title
             p.mb-3=  article.body
             .post-meta
             span.d-block
              a(href='#') faldi kusuma
              |  in 
              a(href='#') News
              span.date-read
             | Jun 14 
             span.mx-1 •
             |  3 min read 
             span.icon-star2
